<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title> About 달타냥 </title>

    <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.min.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'single_pages/css/about_me.css' %}" media="screen">
    <script src="https://kit.fontawesome.com/726bbd6862.js" crossorigin="anonymous"></script>
</head>
<body>

{% include 'blog/navbar.html' %}

<section>
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-8">
                <h1>안녕하세요. 달타냥입니다.</h1>
                <br/>
                <p class="lead">
                    {{lead}}
                </p>

                <ul>
                    <li>WORK</li>
                    <ul>
                         {% for w in work_history %}
                             <li>{{w}}</li>
                         {% endfor %}
                    </ul>
                    <li>EDUCATION</li>
                    <ul>
                        {% for e in education_history%}
                              <li>{{e}}</li>
                        {% endfor %}
                    </ul>
                    <li>PUBLISH</li>
                    <ul>
                        {% for p in publish_history%}
                            <li>{{p}}</li>
                        {% endfor %}
                    </ul>
                </ul>

            </div>
            <div class="col-lg-4">
                <img class="img-fluid" src="{% static 'single_pages/images/my_back.png' %}">
            </div>
        </div>
    </div>
</section>

<section class="bg-light margin-for-footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>PORTFOLIO</h1>
            </div>
        </div>
        <div class="row">
            {% for title in card_titles %}
            <div class="col-lg-4">
                <div class="card" data-toggle="modal" data-target="{{ title.target }}">
                    <img class="card-img-top" src="{% get_static_prefix %}single_pages/images/{{title.img}}" >
                    <div class="card-body">
                        <h5 class="card-title">{{ title.title }}</h5>
                        <p>{{ title.content }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
      </div>
    </div>
</section>

<!-- Modal -->
{% for title in card_titles %}
<div class="modal fade" id="{{title.id}}" tabindex="-1" role="dialog" aria-labelledby="{{title.id}}ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="{{title.id}}ModalLabel">{{title.title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-7">
                        <img class="img-fluid" src="{% get_static_prefix %}single_pages/images/{{title.img}}">
                    </div>
                    <div class="col-lg-5">
                        <p>{{title.content}}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}



<div class="fixed-bottom">
    {% include 'blog/footer.html' %}
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>


</body>
</html>